@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');


body {
  width: 100%;
  height: 100vh;
  background-color: #EFEA46;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}


/* GRID */
.grid {
  display: grid;
  width: 98%;
  height: 97%;
  grid-template-columns: 45px repeat(5, 1fr) 45px;
  grid-template-rows: 40px repeat(26, 1fr) 40px;
}


/* HEADER */
.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}


/* FOOTER */
.footer {
  grid-column: 1 / -1;
  grid-row: -1 / -2;
}

.header, .footer {
  border: 3px solid #FF6C2C;
  background-color: white;
  display: flex;
  place-items: center start;
  overflow: hidden;
}

.header p ,.footer p {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: #FF6C2C;
  letter-spacing: 0.1em;
  white-space: nowrap;
  padding-right: 30px;
}

/* FLOWING ANIMATION : RIGHT-TO-LEFT*/
@keyframes flowing-right-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* HEADER FLOWING ANIMATION : RIGHT-TO-LEFT */
.right-to-left {
  animation: flowing-right-to-left 20s infinite linear;
  flex-wrap: no-wrap;
  transform: translateX(100%);
}

/* FOOTER FLOWING ANIMATION : LEFT-TO-RIGHT */
.left-to-right {
   animation: flowing-right-to-left 20s linear infinite;
   animation-direction: reverse;
   flex-wrap: no-wrap;
   transform: translateX(100%);
}


/* LEFT nav */
.nav-left-1 {
  grid-column: 1 / 2;
  grid-row: 2 / 17;
  border-bottom: 3px solid #FF6C2C;
  background-color: #FF6C2C;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: -2px;
  color: white;
}

.nav-left-1 p:nth-child(odd) {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-weight: bold;
  font-style: italic;
  font-size: 2vh;
}

.nav-left-1 p:nth-child(even) {
  font-size: 1.5vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-left-2 {
  grid-column: 1 / 2;
  grid-row: 17 / 26;
  border-bottom: 3px solid #FF6C2C;
  background-color: white;
}

.nav-left-2 p {
  writing-mode: vertical-lr;
  transform: scale(-1);
  font-weight: bold;
  font-style: italic;
  font-size: 2.2vh;
  color: #FF6C2C;
}

.nav-left-3 {
  grid-column: 1 / 2;
  grid-row: 26 / -2;
  background-color: white;
  font-size: 2.5vh;
  color: #FF6C2C;
}

.nav-left-1, .nav-left-2, .nav-left-3 {
  border-left: 3px solid #FF6C2C;
  border-right: 3px solid #FF6C2C;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


/* RIGHT NAV */
.nav-right-1 {
  grid-column: -2 / -1;
  grid-row: 2 / 15;
  border-bottom: 3px solid #FF6C2C;
}

.nav-right-1 p:nth-child(odd) {
  font-size: 4vh;
}

.nav-right-1 p:nth-child(even),
.nav-right-2 p:nth-child(even) {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-style: italic;
  font-size: 2vh;
}

.nav-right-2 {
  grid-column: -2 / -1;
  grid-row: 15 / -2;
}

.nav-right-2 p:nth-child(odd) {
  font-size: 1.5vh;
}

.nav-right-1, .nav-right-2 {
  border-left: 3px solid #FF6C2C;
  border-right: 3px solid #FF6C2C;
  background-color: #40AC49;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  color: white;
}


/* TITLE */
.title {
  color: white;
  text-align: center;
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title p {
  font-size: 3.5vw;
}

.title li {
  font-family: 'Kanit', sans-serif;
  font-size: 7vw;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 0.8;
}


/* BACKGROUND IMAGES */
.background-image {
  grid-column: 2 / -2;
  grid-row: 2 / -2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-background {
  grid-column: 1 / 2;
  background-size: cover;
  background-position: center;
  background-image: url("./img/image2.jpg");
}

.right-background {
  grid-column: 2 / 3;
  background-size: cover;
  background-position: center;
  background-image: url("../img/image1.jpg");
}

